#panel-title{
  top:5%;
  left:10%;
  width:80%;
  background-color:gold;
  color:black;
  font-size:24pt;
}

#panel-details{
  top:40%;
  left:10%;
  width:80%;
  background-color:white;
  color:black;
}

img.welcome-logo{
  width:170px;
}

.centered-column{
  display:flex;
  justify-content: center;
}

.wall-of-text{
  width: 80%;
  left: 10%;
}

div#content-area.container-fluid{
  background-image:url('../images/dicello-pittsburgh.jpg');
  width:100%;
  min-height:600px;
}

footer{
  width:80%;
  margin-left:10%;
}

