
#title { margin-top:40%; margin-left:5px }
  #title h3 { color: black; margin-top: -4px; }
  #title h3 span { background-color: gold; padding: 4px; }
h1 span { color: black; font-size: 2.5em; font-weight: bold; background-color: gold; padding: 4px }

.panel { background-color: transparent; border: solid 0px black; box-shadow: 0 0; }

a:link, a:visited { color: gold !important; }
#panel-details { top: 40%; left: 10%; width: 80%; }
img.welcome-logo { width: 170px; }
.centered-column { display: flex; justify-content: center; }
.wall-of-text { width: 80%; left: 10%; }
.abstract-text { font-size: small }
footer { width: 80%; margin-left: 10%; margin-bottom: 50px; margin-top: 50px; }
.banner { padding: 50px 0 50px 10%; background: black; margin: 0 -10% 0 -10%; }
