{% extends "adminbase.html" %}

{% block content %}

<h1>Vote Totals</h1>
<table>
  <thead>
    <tr>
      <td width=50%>Talk Title</td>
      <td width=30%>Name</td>
      <td width=5%>Count</td>
      <td width=5%>Fit</td>
      <td width=5%>Go</td>
      <td width=5%>Attend</td>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td>{{item.title}}</td>
      <td>{{item.firstName}} {{item.lastName}}</td>
      <td>{{item.voteCount}}</td>
      <td>{{'%0.2f' % item.avgFitsTechfest|float}}</td>
      <td>{{'%0.2f' % item.avgIWouldGo|float}}</td>
      <td>{{'%0.2f' % item.avgExpectedAttendance|float}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}