{% extends "adminbase.html" %}

{% block content %}

<h1>Vote Totals</h1>
<table>
  <thead>
    <tr>
      <td width=55%>Talk Title</td>
      <td width=10%>Count</td>
      <td width=10%>Fit</td>
      <td width=10%>Go</td>
      <td width=10%>Attend</td>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td>{{item.title}}</td>
      <td>{{item.voteCount}}</td>
      <td>{{'%0.2f' % item.avgFitsTechfest|float}}-{{item.sumFitsTechfest}}</td>
      <td>{{'%0.2f' % item.avgIWouldGo|float}}-{{item.sumIWouldGo}}</td>
      <td>{{'%0.2f' % item.avgExpectedAttendance|float}}-{{item.sumExpectedAttendance}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}