<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
	<head>
        <link rel="icon" href="/static/favicon.ico" sizes="16x16" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UCompatible" content="IE=edge">
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Always force latest IE rendering engine -->
		<meta http-equiv="X-UCompatible" content="IE=edge">
		<meta name="description" content="Pittsburgh TechFest is the longest running polyglot technical software development conference in the Pittsburgh region.">
        <meta name="keywords" content="Pittsburgh, technology, event, conference, software, development, professional, the coffee is always free">
		<title>Pittsburgh TechFest Storytellers 2019</title>
		<!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<!-- Font awesome Core CSS -->
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/et-line.css">
		<!-- bootstrap css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- magnific-popup CSS -->
		<link rel="stylesheet" href="/static/css/magnific-popup.css">
		<!-- owl carousel CSS -->
		<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
		<!-- Custom style CSS -->
		<link rel="stylesheet" href="/static/css/style.css?z6">
		<link rel="stylesheet" href="/static/css/speakers.css?z5">
		<!-- responsive CSS -->
		<link rel="stylesheet" href="/static/css/responsive.css?z4">
		<!--[if lt IE 9]-->
		<script src="/static/js/html5shiv.min.js"></script>
		<!--[endif]-->
	</head>
	<body>

		<!-- ====== Preloader ======  -->
	    <div class="loading">
			<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
		</div>
		<!-- ======End Preloader ======  -->


		<!-- ====== Navgition ======  -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <!-- logo -->
          <a class="navbar-brand" href="#"><img src="/static/images/logo-h.png?x2" alt="PGH TECHFEST Storytellers 2019" title="PGH TECHFEST Storytellers 2019"/></a>
        </div>

        <!-- Collect the nav links, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
        <!-- links -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#about" onclick="window.location.href='/#about';">ABOUT</a></li>
            <!--<li><a href="https://www.papercall.io/techfest-storytellers-2019?#!www2019">CFP <span style="background-color:#00c0ce !important">[OPEN!]</span></span></a></li>-->
            <li><a href="/#coc" onclick="window.location.href='/#coc';">CoC</a></li>
            <li><a href="/speakers">SPEAKERS</a></li>
            <li><a href="https://t.co/S716rtsTI5?#!volunteer">VOLUNTEER</a></li>
            <li><a href="https://write.as/pittsburghtechfest?#!www2019">BLOG</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/pghtechfest">MAILING LIST</a></li>
            <li><a href="/sponsors" onclick="window.location.href='#sponsors';">SPONSORS</a></li>
            <li><a href="https://twitter.com/thepghtechfest" title="Follow us on Twitter"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
            <li><a href="https://www.instagram.com/PghTechFest" title="Follow us on Instagram"><span><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
            <li><a href="mailto:pittsburghtechfest@gmail.com" title="Email us"><span><i class="fa fa-envelope" aria-hidden="true"></i></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <!-- ====== End Navgition ======  -->


    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}


    <!--====== Footer ======-->
    <footer>
      <div class="main-footer text-center">
        <h4 class="footer-logo"><img src="/static/images/logo-150.png" style="width:150px"/></h4>
        <div class="social-icon">
         <a href="https://twitter.com/thepghtechfest" title="Follow us on Twitter">
            <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
          </a>
         <a href="https://www.instagram.com/PghTechFest" title="Follow us on Instagram">
            <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
          </a>
        <a href="mailto:pittsburghtechfest@gmail.com" title="Email us">
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
        </a>
        </div>
      </div>
      <div class="sub-footer">
        <p>Copyright &copy; By Pittsburgh TechFest, 2019. All Rights Reserved.</p>
        <p>Made with <span><i class="fa fa-heart" aria-hidden="true"></i></span> in Pittsburgh.</p>
      </div>
    </footer>
    <!--====== End Footer ======-->

		<!--====== js ======-->
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/static/js/jquery.singlePageNav.min.js"></script>
		<script src="/static/js/jquery.magnific-popup.min.js"></script>
		<script src="/static/js/owl.carousel.min.js"></script>
		<script src="/static/js/jquery.stellar.min.js"></script>
      	<script src="/static/js/isotope.pkgd.min.js"></script>
  	    <script src="/static/js/validator.js"></script>
  	    <script src="/static/js/custom.js"></script>
        <script src="/static/js/speakers.js"></script>

	</body>
</html>