<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pittsburgh TechFest</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styles.css?x15" />
    <link rel="icon" href="/static/favicon.ico" sizes="16x16" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand navbar-link">
                    <!--<img src="/static/images/logo.png?x12" style="margin-top:-12px" />-->
                    PGH TECHFEST 2019
                </a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <!--<li role="presentation"><a href="venue">VENUE </a></li>
                    <li role="presentation" class="active"><a href="https://www.eventbrite.com/e/pittsburgh-techfest-2018-tickets-44705285713">REGISTER</a></li>
                    <li role="presentation"><a href="https://goo.gl/forms/g1HUjyQwFGlgGTbN2">VOLUNTEER</a></li> -->
                    <li role="presentation">
                        <a href="sponsors">2018 SPONSORS</a>
                    </li>
                    <li role="presentation">
                        <a href="sessions">2018 SESSIONS</a>
                    </li>
                    <!--<li role="presentation"><a href="https://www.papercall.io/pghtechfest2018">Submit a Talk</a></li>-->
                    <li role="presentation">
                        <a href="codeofconduct">CoC</a>
                    </li>
                    <!--<li role="presentation"><a href="http://blog.pghtechfest.com/">BLOG</a></li>-->
                    <li role="presentation">
                        <a href="https://groups.google.com/forum/#!forum/pghtechfest">MAILING LIST</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">


        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %} {% block content %}{% endblock %}


    </div>
    <footer>
        <div class="row">
            <div class="col-md-4">
                <h1>LOGISTICS</h1>
                <!--<p>
                    <i class="fa fa-map-marker fa-2x"></i> LaRoche College</p>-->
                <p>Saturday, June 8, 2019</p>
            </div>
            <div class="col-md-4">
                <h1>SOCIAL</h1>
                <a href="https://twitter.com/thepghtechfest" target="_blank">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <img height="1" width="20" />
                <a href="https://www.facebook.com/PghTechFest" target="_blank">
                    <i class="fa fa-facebook-f fa-2x"></i>
                </a>
            </div>
            <div class="col-md-4">
                <h1>CONTACT</h1>
                <p>If you have any questions regarding Pittsburgh TechFest, please contact us at</p>
                <a href="mailto:pittsburghtechfest@gmail.com">
                    <strong>pittsburghtechfest@gmail.com</strong>
                </a>
                <p>&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>