{% extends "base.html" %}
{% block content %}
<!-- *** WELCOME STARTS *** -->
<div id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo_welcome">
          <h1 class="title" style="text-align: left;">The Call for Speakers is now closed</h1>
        </div>
        <div class="welcome-text" style="text-align: left; margin: 40px 0 0 0">
            <h2>Thank you for your interest...</h2>
                    <br/>
            <p>...but the call for talks is now closed for the 2016 event.</p>
                    <p>All the best,</p>
                    <p>The TechFest Organizer Committee</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- *** WELCOME END *** -->
{% endblock %}