{% extends "adminbase.html" %}

{% block content %}

<form action="" method="post" name="changepwdform">
  {{ form.hidden_tag() }}
  <p>
      Current Password:<br>
      {{ form.currentpassword(size=80, style="width:100%") }}<br>
      {% for error in form.currentpassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
  </p>
  <p>
      New Password:<br>
      {{ form.newpassword1(size=1000, style="width:100%") }}<br>
      {% for error in form.newpassword1.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
  </p>
  <p>
      Retype New Password:<br>
      {{ form.newpassword2(size=80, style="width:100%") }}<br>
      {% for error in form.newpassword2.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
  </p>
  <p><input type="submit" value="Change"></p>
</form>

{% endblock %}