{% extends "base.html" %}

{% block content %}
<!-- *** WELCOME STARTS *** -->
<div id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo_welcome">
          <h1 class="title" style="text-align: center;">Schedule</h1>
        </div>
        {% for group in items|groupby('timeSlotName') %}
          <div class="welcome-text" style="text-align: left; margin: 40px 0 0 0">
            <h2>{{group.grouper}}</h2>
            {% for session in group.list %}
              <h3>{{session.roomName}} - {{session.title}} <i>{{session.firstName}} {{session.lastName}}</i></h3>
              <p>{{session.abstract}}</p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- *** WELCOME END *** -->
{% endblock %}