{% extends "base.html" %}

{% block content %}
<!-- *** WELCOME STARTS *** -->
<div id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo_welcome">
          <h1 class="title" style="text-align: left;">Call for Speakers</h1>
        </div>
        <div class="welcome-text" style="text-align: left; margin: 40px 0 0 0">
<table>
<tr><td>
Threads, Processes and the Death of Moore's Law</td><td>André Henry
</td></tr><tr><td>
Lessons a tester learned when writing production code</td><td>Anthony Lamorte
</td></tr><tr><td>
The Alchemy of User Experience</td><td>Benjamin Bykowski
</td></tr><tr><td>
First, Let's Automate All The Lawyers: Smart Contracts With Ethereum</td><td>Bill Laboon
</td></tr><tr><td>
Developing Android Apps with Gradle and Groovy</td><td>Billy Conner
</td></tr><tr><td>
ElasticSearch For More Than Logging</td><td>Brendan Gibat
</td></tr><tr><td>
Rust out your C</td><td>Carol (Nichols || Goulding)
</td></tr><tr><td>
Real-world microservices with Docker</td><td>Chris Winters
</td></tr><tr><td>
Software Gardening</td><td>Craig Berntson
</td></tr><tr><td>
Agile and Automated Testing in a High Pressure FDA Regulated Commercial Venture</td><td>Edwin Wiancko
</td></tr><tr><td>
Of Bandwagons and Builds: Creating a Product with Ember 2.x</td><td>Eli Flanagan
</td></tr><tr><td>
Online Test Environments</td><td>Elliott Levenson
</td></tr><tr><td>
Deep Dive Into Chrome's DevTools</td><td>Gabriel Obregon
</td></tr><tr><td>
Delivering value with distributed scrum teams</td><td>Gary Greenwood
</td></tr><tr><td>
Integrating Python into the CLR with Python for .NET</td><td>Hussein Farran
</td></tr><tr><td>
Be the Center of the Universe with REST & ASP.NET Web API</td><td>James Bender
</td></tr><tr><td>
Rebooting the ASP.NET Franchise</td><td>Jay Harris
</td></tr><tr><td>
Mind the Gaps...Or Finding the Stories You Need to Build the Product You Want</td><td>Jeremy Jarrell
</td></tr><tr><td>
Azure Machine Learning for the Absolute Beginner</td><td>Joel Cochran
</td></tr><tr><td>
Why Does Automated Testing Fail?</td><td>Joel Mason
</td></tr><tr><td>
Rust for the rest of us</td><td>John Downey
</td></tr><tr><td>
Building "serverless" software with AWS Lambda</td><td>Jonathan Knapp
</td></tr><tr><td>
React Native To The Rescue</td><td>Josh Gretz
</td></tr><tr><td>
A Little Bit of Category Theory Goes a Long Way</td><td>Keith Pinson
</td></tr><tr><td>
Coming Out Of Your Shell: A Comparison of *Nix Shells</td><td>Kel Cecil
</td></tr><tr><td>
So You Want to be an Agile Coach?</td><td>Kim Hardy
</td></tr><tr><td>
What Makes A Software Engineer</td><td>Martin Habich
</td></tr><tr><td>
Git as a DataStore</td><td>Matt McCoy
</td></tr><tr><td>
Property-Based Testing in JavaScript Using JSVerify</td><td>Michael Gilliland
</td></tr><tr><td>
Angular 2 via the CLI</td><td>Mike Brocchi
</td></tr><tr><td>
Machine Learning (ML) in Healthcare - For the Rest of Us</td><td>Mohinder Dick
</td></tr><tr><td>
Herding the Cats: Client Management for the Rest of Us</td><td>Nick Stewart
</td></tr><tr><td>
Building A Package For Elixir</td><td>Onorio Catenacci
</td></tr><tr><td>
Release Management with Team Services</td><td>Paul Hacker
</td></tr><tr><td>
Functional Reactive Programming for Natural User Interface</td><td>Riccardo Terrell
</td></tr><tr><td>
Pragmatic Process: Realistic Software Development Methods</td><td>Richard Goforth
</td></tr><tr><td>
Why do I need to know how to write?</td><td>Ronald Stone
</td></tr><tr><td>
Attracting and retaining talent in agile teams</td><td>Ryan Lockard
</td></tr><tr><td>
How to Hire Programmers You'll Want as Teammates</td><td>Scott Drake
</td></tr><tr><td>
Empathy marketing: why vulnerability is the greatest tool in your arsenal</td><td>Sharon Steed
</td></tr><tr><td>
Connecting UI and UX: how to speak for the user without killing your development</td><td>Stephanie Butler
</td></tr><tr><td>
Micro-datacenter chaos monkeys! Raspberry Pi & Kubernetes</td><td>Steve Sloka
</td></tr><tr><td>
Dealing with system failure – Hystrix, Netflix OSS, Spring Cloud and other gems</td><td>Stuart Ingram
</td></tr><tr><td>
Performance Management in an Agile World</td><td>Sudhir Thaikootathil Jay Anderson
</td></tr><tr><td>
Revolution IV: Realizing Mobile</td><td>Tom Anderson
</td></tr><tr><td>
From Evergreen to Evergreat: Leveling up Seattle's Parks with Microcontrollers!</td><td>Walé Ogundipé
</td></tr></table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- *** WELCOME END *** -->
{% endblock %}