{% extends "base.html" %} {% block content %}
<div class="container-fluid" style="font-size:18pt">

    <div class="row wall-of-text">
        <div class="col-md-12">
            <a href="/static/pghtechfest_schedule_2018.pdf">
                <img width="1500" height="1120" src="/static/pghtechfest_schedule_2018a.png" title="Schedule" alt="Schedule" /> - </a>
        </div>
    </div>

    <div class="row wall-of-text">
        <div class="col-md-12" style="font-size:12pt">
            <h1>Sessions</h1>

            <div>
                <h4>
                    <b> How to Form a Diversity &amp; Inclusion Team at a Tech Company </b>-
                    <i> Julie Menge </i>
                </h4>
                <p> I went through 3 different rounds of trying to form a diversity &amp; inclusion team at a tech company, and
                    finally nailed it. I'll talk through who to involve, what NOT to do, how to get inspired, and what to
                    do when you aren't hiring and can't immediately change anything about your company's make up. </p>
            </div>
            <div>
                <h4>
                    <b> The Mental Impact of Tech Interviews </b>-
                    <i> Zack Zlotnik </i>
                </h4>
                <p>Lengthy technical interview processes frustrate tech workers and can have a negative impact on mental health.
                    While it is almost universally recognized that technical interviews are broken, the impact they have
                    on tech workers are not being recognized. It's time to refactor tech hiring.</p>
            </div>
            <div>
                <h4>
                    <b> Easy React Content Management with GraphQL and WordPress </b>-
                    <i> Jesse R Weigel </i>
                </h4>
                <p> Learn how to combine the power and speed of React with the most popular CMS using GraphQL. In just a few
                    extra steps, you can turn WordPress into a headless CMS running GraphQL. Import the data you need into
                    your React app with one network request. </p>
            </div>
            <div>
                <h4>
                    <b> Future-Proof: Mastering the Timeless Skills You Need for the Tech Jobs of Today and Tomorrow </b>-
                    <i>
                        Scott Drake </i>
                </h4>
                <p> In an industry that moves as quick as tech, it's normal to feel like you'll become obsolete if you aren't
                    chasing new technologies. But the reality is most hiring decisions are based on a core set of non-technical
                    skills too few possess. Want to become future-proof? This session will show you how. </p>
            </div>
            <div>
                <h4>
                    <b> How to Make it as a Junior Dev and Stay Sane! </b>-
                    <i> Katelyn Hertel </i>
                </h4>
                <p> Being a Jr Dev can be overwhelming &amp; can lead to burnout quickly. In this talk I'll discuss the self
                    care tips I used &amp; how they helped me to ultimately love my job. I learned to ask for advice, manage
                    time better, speak up when something didn't feel right, &amp; take care of myself better! </p>
            </div>
            <div>
                <h4>
                    <b> Designing microservice architectures to drive effective collaboration between loosely coupled teams </b>-
                    <i>
                        Anastas Stoyanovsky </i>
                </h4>
                <p> This talk discusses how to use system architecture to mediate short-term collaboration between semi-autonomous
                    teams that have different incentives and backgrounds in order to deliver a cohesive product. A concrete
                    example of a collaboration between IBM Watson and IBM Research is used as motivation. </p>
            </div>
            <div>
                <h4>
                    <b> Exploring How A Starter Kit Can Accelerate Your Project Development </b>-
                    <i> Chris Bohatka </i>
                </h4>
                <p> Often times we get hung up on where to begin and spend time spinning our wheels. After picking a starting
                    point, we spend days, maybe even weeks "yak shaving" in Sprint 0 to get to the point where we are delivering
                    customer value. Stop doing this, instead, create a starter kit! </p>
            </div>
            <div>
                <h4>
                    <b> Getting Started with Azure SQL Database </b>-
                    <i> Chad Green </i>
                </h4>
                <p> Are you still hosting your databases on your own SQL Server? Would you like to consider putting those up
                    in the cloud? Then come and learn what exactly Azure SQL can do for you and how to go about moving your
                    databases to the cloud. </p>
            </div>
            <div>
                <h4>
                    <b> Before the Death of our Sun: Lessons Learned in Building Performant Big Data Systems </b>-
                    <i> Alison S Alvarez </i>
                </h4>
                <p> Building data systems that perform tasks efficiently is hard; it's surprisingly easy to build functions that
                    will not finish before the sun dies. This talk is to share knowledge gained from making mistakes when
                    dealing with large datasets, from handling memory to doing the complicated stuff first. </p>
            </div>
            <div>
                <h4>
                    <b> A Token Walks Into a SPA... </b>-
                    <i> Ado Kukic </i>
                </h4>
                <p> Between Angular, React, &amp; Vue it can be hard NOT to build SPAs these days. But having to deal with cookies,
                    tokens, auth, &amp; resource access - you may even feel like you need a second page (gasp!) for security!
                    Fear not, for the technology to create truly secure SPAs is there and I'll show you how. </p>
            </div>
            <div>
                <h4>
                    <b> Building Dapps with Solidity on Ethereum </b>-
                    <i> Aditya Relangi </i>
                </h4>
                <p> Blockchains are here to stay and smart contracts are the future. In this talk, we focus on building a decentralized
                    app on the Ethereum blockchain using the high level language solidity. We deploy the dapp on the live
                    Ethereum net and talk about some of the challenges in writing smart contracts. </p>
            </div>
            <div>
                <h4>
                    <b> Scaling JavaScript Applications with TypeScript </b>-
                    <i> Ryan Waskiewicz </i>
                </h4>
                <p> The amount of JavaScript found in modern web applications is staggering compared to their counterparts of
                    10 years ago. As applications grow, so do their complexity &amp; maintainability. Adding static typing
                    to JavaScript aims to solve these problems, while enhancing the clarity of code simultaneously. </p>
            </div>
            <div>
                <h4>
                    <b> Example Mapping: The New Three Amigos </b>-
                    <i> Thomas Haver </i>
                </h4>
                <p> Example Mapping is a collaboration technique to help refine requirements. In a time-boxed session, rules
                    summarize examples or constraints about a story, and questions about dependencies are documented. The
                    result are requirements written as user behavior with a shared understanding among the team. </p>
            </div>
            <div>
                <h4>
                    <b> Lint, Laugh, Love </b>-
                    <i> Josh Smith </i>
                </h4>
                <p> Software developers have enough problems to focus on without considering if they're using the correct indentation
                    or type of quotation marks. In this talk, I'll share how code linting has helped me catch more bugs,
                    write more consistent code, and ultimately stay sane as a software engineer. </p>
            </div>
            <div>
                <h4>
                    <b> SEO Engineering Basics </b>-
                    <i> Rainu Ittycheriah </i>
                </h4>
                <p> Typically, SEO has been categorized in many people's minds as a marketing concept. At Eventbrite, we take
                    SEO one step further by having a fully dedicated team. As someone on that team for the past year and
                    a half, I'm happy to share the basics of beginning to solve the mystery of SEO. </p>
            </div>
            <div>
                <h4>
                    <b> Source control and git for the newbie </b>-
                    <i> Craig Lang </i>
                </h4>
                <p> "Newbie dev? It is inevitable that you will need to learn it. Not a developer? Do you edit files with multiple
                    versions around? This talk aims to convince you that source control can be a useful tool. Also, an intro
                    to a popular source control tool, git." </p>
            </div>
            <div>
                <h4>
                    <b> Detecting offensive messages using Deep Learning: A micro-service based approach </b>-
                    <i> Alizishaan Khatri </i>
                </h4>
                <p>What are you doing to control abusive content on your platform? Can your current solution tell the difference
                    between ""f\*\*king awesome"" and ""f\*\*king loser""? Can it detect racist and sexist content? You will
                    learn how to build a deep learning based solution and deploy it as a micro-service.</p>
            </div>
            <div>
                <h4>
                    <b> Fixing Production in the Hospital. Worst. Day. Ever. </b>-
                    <i> Matthew Barlocker </i>
                </h4>
                <p> On-call rotations suck at all companies. I hate them. So do most devops engineers. This talk is part ideology,
                    part pragmatic advice, and part entertaining story about my worst on-call experience yet. </p>
            </div>
            <div>
                <h4>
                    <b> Containerized Applications - Day Two </b>-
                    <i> Steve Sloka </i>
                </h4>
                <p> Anyone using Kubernetes in prod has felt the pain of "day 2" issues. After `HelloWorld` is deployed, things
                    like backups, config mgmt, and password mgmt aren't always properly addressed. See how apps can be delivered
                    safely and reliably on Kubernetes and learn ways to get your apps to day three! </p>
            </div>
            <div>
                <h4>
                    <b> Integrating with Slack (from Someone Who Had No Idea What They Were Doing) </b>-
                    <i> Kim Hardy </i>
                </h4>
                <p> I had a great idea to use team morale metrics to facilitate continuous improvement for agile transformations,
                    but couldn't get people to login to my web application consistently! In this talk I want to share how
                    integrating with Slack helped me get the feedback I was looking for. </p>
            </div>
            <div>
                <h4>
                    <b> React Native and Expo: Native Apps without the Native Pain </b>-
                    <i> Keith Kurak </i>
                </h4>
                <p> React Native lets use JavaScript and React syntax to make cross-platform apps that are indistinguishable
                    from "full native" apps. Most apps can be built without ever opening Xcode or downloading gigabytes of
                    Android SDK's- you just need a few NPM packages to get apps running on your phone. </p>
            </div>
            <div>
                <h4>
                    <b> MVP is for Minimal yet Valuable Product </b>-
                    <i> Ashish Anand </i>
                </h4>
                <p> What if I told you that MVP did not stand for minimum viable product &amp; the picture that appears every
                    time we google MVP showing, a skate board that transitions to a scooter, which becomes a bike etc. is
                    a wrong way to build an MVP. I build an MVP &amp; want to share my awful experience doing it! </p>
            </div>
            <div>
                <h4>
                    <b> Overcoming a Brain Injury: How My Love For Tech Saved Me </b>-
                    <i> Krista Krebs </i>
                </h4>
                <p> Over nine years ago, Krista was a senior in high school when she received a massive blow to head playing
                    basketball that left her with a chronic brain injury. Learn how she's persevered through adversity in
                    her success story and how tech is playing an enormous role in her quality of life. </p>
            </div>
            <div>
                <h4>
                    <b> Architecture Decision Records in Action </b>-
                    <i> Michael Keeling </i>
                </h4>
                <p> Architecture Decision Records (ADRs) capture key architectural design decisions in a lightweight, simple,
                    easy-to-create, plain text template stored in your existing version control system. In this talk we will
                    learn how to use ADRs and see how we them at IBM Watson. </p>
            </div>
            <div>
                <h4>
                    <b> How to take your Startup from 0 to 1 </b>-
                    <i> Andy C. Chan </i>
                </h4>
                <p> Alright, you have an idea but now here comes the hard part: how can I take this idea from ideation to reality
                    and close initial clients? Here's a no BS and honest take on building companies from scratch and all
                    the highs and lows from closing clients to sleepless nights worrying about bankruptcy. </p>
            </div>
            <div>
                <h4>
                    <b> Refactoring - Saving Your Code From Yourself </b>-
                    <i> Lorien Rensing </i>
                </h4>
                <p> Writing code that does what you want it to is easy. Writing code that is easy to understand is harder. Fortunately,
                    you are not doomed to code that no one can understand or maintain if you know how to refactor it. </p>
            </div>
            <div>
                <h4>
                    <b> Data Time Travel with SQL Server Temporal Tables </b>-
                    <i> Sam Nasr </i>
                </h4>
                <p> Many times developers have to support users by answering the "What happened to the data?" The task of retrieving
                    data from a specific point in time is not an easy one. Now, with a few TSQL commands developers can see
                    what the data was at a specific point in time, without restoring backups. </p>
            </div>
            <div>
                <h4>
                    <b> Senior Dogs Love Learning New Tricks: Gracefully guiding an objected oriented team into the functional
                        programming waters. </b>-
                    <i> Andrew McGuier </i>
                </h4>
                <p> Whether you're an eager engineer or a supportive manager, introducing functional programming to an established
                    object oriented team can seem to be an impossible dream. I'll talk about both the technical and the organizational
                    challenges and strategies to bring functional programming into your team. </p>
            </div>
            <div>
                <h4>
                    <b> Front End is the New Back End </b>-
                    <i> Benjamin Bykowski </i>
                </h4>
                <p> Modern web development has led to powerful new frameworks and tools. Compare and contrast what's new and
                    what's next from JS frameworks and package management to emerging CSS standards and bundling. This isn't
                    an intro to React, NPM, and WebPack, just why they're so popular and what might be next. </p>
            </div>
            <div>
                <h4>
                    <b> How You Can Fit an Entire Factory in a Box Within the World of VR </b>-
                    <i> Pete Bruns </i>
                </h4>
                <p> How can you take an entire manufacturing facility around the world in a box? We solved the problems in 3
                    months with Virtual Reality, and will walk through the technologies involved, the tools used, the processes
                    followed, as well as point out a few of the 'VR gotchas' we uncovered along the way. </p>
            </div>
            <div>
                <h4>
                    <b> Focusing on the Big Picture: Insights Into an End-to-End Systems </b>-
                    <i> Ritwik Gupta </i>
                </h4>
                <p> TBD </p>
            </div>
            <div>
                <h4>
                    <b> The User Whisperer: How the Business Analyst role helped slay a 20-year-old enterprise software system
                    </b>-
                    <i> Byron Fruit &amp; Nate Homitsky </i>
                </h4>
                <p> After a year working on an enterprise software (ERP) migration, the development team still had a massive
                    backlog and was not able to deliver the amount of work needed to go live with the new system. Developer
                    and end user frustrations had grown to concerning levels. This is the story of how the Business Analyst
                    role and a new software development workflow helped deliver a successful migration. </p>
            </div>

        </div>
    </div>
</div>
</div>
<style>
    .col-md-12 div {
        margin-bottom: 50px;
    }
</style>
{% endblock %}