{% extends "base.html" %}
{% block content %}
<div id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo_welcome">
          <h1 class="title">Register</h1>
        </div>
        <div class="welcome-text">
          <h3>We're sorry, but we have sold out!</h3>
          <p>Please note, we will not have any ability to accept substitutions or "day of" registrations. If you do not have a ticket we will have to turn you away. Sorry, but we hope to see you next year!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}