{% extends "base.html" %} {% block content %}

<!--====== Header ======-->
<section id="header" class="hero section-padding section-bord">
  <div class="container">
    <h5 class="tit tit-left">Speakers</h5>
    <select id="presentation-select" class="form-control">
      <option value="">Jump to a presentation</option>
    </select>
    <iframe style="margin-top: 45px;" width=1124 height=500 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTGR4WxS4JpdTwwTlZnVysPMrbYI0DEPxx0t_aXuMJQ70Cvl-XepeQhj7Pki3Z8_0AViZJl3qlAeZQ2/pubhtml?gid=1999125516&single=true"></iframe>
  </div>
</section>
<!--====== End Header ======-->
<!--====== Speaker List ======-->

<div id="speaker-list"></div>
<!--====== End Speaker List ======-->

<div id="back-to-top">Back To Top</div>
{% endblock %}