{% extends "base.html" %}

{% block content %}
<!-- *** WELCOME STARTS *** -->
<div id="welcome" style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo_welcome">
                    <h1 class="title">Event Partner</h1>
                    <a href="http://www.pghtech.org" target="_sponsor">
                        <img width="590" height="88" src="/static/images/PTC-2014-Horizontal.jpg" title="Pittsburgh Technology Council" alt="Pittsburgh Technology Council"  style="margin:20px 0" />
                    </a>
                </div>
                <div class="welcome-text">
                    <h1>Main Event Sponsors</h1>
                    <a href="http://www.sdlcpartners.com/">
                    <img width="267" height="117" src="/static/images/sponsors/2016/sdlc_blue-sm.jpg" title="SDLC Partners" alt="SDLC Partners"/></a>
                    <img src="/static/images/your-logo-here.gif" />
                    <h1>Platinum Sponsors</h1>
                    <img src="/static/images/your-logo-here.gif" />
                    <h1>Gold Sponsors</h1>
                    <img src="/static/images/your-logo-here.gif" />
                    <h1>Silver Sponsors</h1>
                    <img src="/static/images/your-logo-here.gif" />
                    <h1>Room Sponsors</h1>
                    <img src="/static/images/your-logo-here.gif" />
                    <h1>Break Sponsors</h1>
                    <img src="/static/images/your-logo-here.gif" />
                </div>
                <div class="welcome-text">
                    <h2>Sponsoring TechFest</h2>
                    <div>
                        If you would like to sponsor Pittsburgh TechFest for 2016, here is our <a href="/static/TechFestSponsorshipBrochure2016.pdf">sponsorship brochure</a>.
                    </div>
                    <div>
                        If you have any questions, you can email us at <a href="mailto:pittsburghtechfest@gmail.com">pittsburghtechfest@gmail.com</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *** WELCOME END *** -->
{% endblock %}