{% extends "base.html" %} {% block content %}
<div class="container-fluid" style="font-size:18pt">
    <div class="row">
        <div class="col-md-12 centered-column">
            <h1 class="title">Event Partner</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <a href="http://www.pghtech.org" target="_sponsor">
                <img width="983" height="147" src="/static/images/PTC-2014-Horizontal.jpg" title="Pittsburgh Technology Council" alt="Pittsburgh Technology Council"
                />
            </a>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-md-12 centered-column">
            <h1>Main Event Sponsors</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <img width="90" height="70" src="/static/images/your-logo-here.gif" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <a href="http://www.teletracking.com/"><img width="600" height="116" src="/static/images/TeleTracking Logo_354PMS.jpg" title="TeleTracking" alt="TeleTracking"/></a>
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <a href="http://bnymellon.com/"><img width="600" height="270" src="/static/images/bnym_rgb.jpg" title="BNY Mellon" alt="BNY Mellon"/></a>
        </div>
    </div>
-->
    <div class="row">
        <div class="col-md-12 centered-column">
            <h1>Platinum Sponsors</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 centered-column">
            <img width="400" height="100" src="/static/sponsors/aerotech.png" />
        </div>
        <div class="col-md-4 centered-column">
            <img width="673" height="102" src="/static/sponsors/carnegiemellon.jpg" />
        </div>
        <div class="col-md-4 centered-column">
            <img width="312" height="177" src="/static/sponsors/fedex.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 centered-column">
            <img width="250" height="250" src="/static/sponsors/grapecity.png" />
        </div>
        <div class="col-md-4 centered-column">
            <img width="462" height="138" src="/static/sponsors/omnicell.png" />
        </div>
        <div class="col-md-4 centered-column">
            <img width="268" height="162" src="/static/sponsors/sdlc.jpg" />
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-md-6 centered-column">
            <a href="https://www.aerotech.com/"><img width="286" height="227" src="/static/images/aerotech.jpg" title="Aerotech" alt="Aerotech"/></a>
        </div>
        <div class="col-md-6 centered-column">
            <a href="http://enterprises.upmc.com/"><img width="600" height="107" src="/static/images/UPMC_3_Enterprises_H_RGB.jpg" title="UPMC Enterprises" alt="UPMC Enterprises"/></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 centered-column">
            <a href="http://omnicell.com/"><img width="540" height="180" src="/static/images/Omnicell_logo_pos.jpg" title="Omnicell" alt="Omnicell"/></a>
        </div>
        <div class="col-md-6 centered-column">
            <a href="http://summa.com/"><img width="508" height="203" src="/static/images/Summa_LogoH_FullColor_Indigo.jpg" title="Summa" alt="Summa"/></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <h1>Gold Sponsors</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <img width="90" height="70" src="/static/images/your-logo-here.gif" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <h1>Silver Sponsors</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <img width="90" height="70" src="/static/images/your-logo-here.gif" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 centered-column">
            <a href="http://tools.grapecity.com/"><img width="192" height="153" src="/static/images/GCLogo-white.png" title="Grape City" alt="Grape City"/></a>
        </div>
        <div class="col-md-6 centered-column">
            <a href="http://www.tobiidynavox.com"><img width="403" height="70" src="/static/images/Tobii_Dynavox_logo_color.jpg" title="tobii dynavox" alt="tobii dynavox"/></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <h1>Room Sponsors</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <img width="90" height="70" src="/static/images/your-logo-here.gif" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <h1>Break Sponsors</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered-column">
            <img width="90" height="70" src="/static/images/your-logo-here.gif" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Sponsoring TechFest</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                If you would like to sponsor Pittsburgh TechFest for 2018, here is our <a href="/static/TechFestSponsorshipBrochure2018.pdf">sponsorship brochure</a>. If you have any questions, you can email us at <a href="mailto:pittsburghtechfest@gmail.com">pittsburghtechfest@gmail.com</a>.
            </div>
        </div>
    </div>
-->
</div>
{% endblock %}