{% extends "base.html" %}

{% block content %}
<!-- *** WELCOME STARTS *** -->
<div id="welcome" style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo_welcome">
                    <h1 class="title">Event Partner</h1>
                    <a href="http://www.pghtech.org" target="_sponsor">
                        <img src="/static/images/PTC-2014-Horizontal.jpg" title="Pittsburgh Technology Council" alt="Pittsburgh Technology Council"  style="margin:20px 0" />
                    </a>
                </div>
                <div class="welcome-text">
                    <h2>Sponsoring TechFest</h2>
                    <div>
                        If you would like to sponsor Pittsburgh TechFest for 2016, here is our <a href="/static/TechFestSponsorshipBrochure2016.pdf">sponsorship brochure</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *** WELCOME END *** -->
{% endblock %}